body{
background-color:hsl(212, 45%, 89%);;
font-family: "Outfit", sans-serif;
font-size:15px ;
}
.size{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

} 
.container{
    background-color: hsl(0, 0%, 100%);
    height: 550px;
    width: 375px;
    border-radius: 20px;

}
.box-qrcode{
    margin: 20px;
}
.box-qrcode img{
    max-width: 100%;
    border-radius: 12px;
}
.box-qrcode h2{
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}
.box-qrcode p{
    color: hsl(216, 15%, 48%);
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
}

@media screen and (max-width: 375px) {
.container {
    width: 90%;
    padding: 12px;
}

.box-qrcode h2 {
    font-size: 16px;
}

.box-qrcode p {
    font-size: 13px;
}
}
