* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
        display: flex;
    justify-content: center;
    align-items: center;

background-color:hsl(212, 45%, 89%);

font-family: "Outfit", sans-serif;
}
main{
    min-height: 18rem;
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;

    border-radius: 16px;
}
img{
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 12px;
}
.text{
    text-align: center;
}
h1{
    color: (218, 44%, 22%);
    font-weight: 700px;
}

p{
    font-weight: 400px;
    font-size: 0.9375rem;

        color:hsl(216, 15%, 48%);
}
h1,p{
    margin-bottom: 1rem;
}